.mb-5, .my-5 {
    margin-bottom: 1.5rem!important;
}
.features-icons {
    margin-bottom: 0!important;
}
.testimonials, .call-to-action, .showcase, .features-icons {
    padding-top: 2rem!important;
    padding-bottom: 3rem!important;
}
ul.link-items, ul.link-items-multi {
    font-size: 1.25rem;
    font-weight: 300;
    padding: 20px 0 0 0;
}
.link-items li, .link-items-multi li {
    margin: .2rem 0 0 0;
    list-style-type: none;
}
.link-items-multi li {
    width: 100%;
    float: left;
}
.link-items-multi li div {
    display: inline-block;
    width: 50%;
}
.tagline-new {
    width: 350px;
    text-align: left;
    font-size: 29px;
    display: block;
    text-align: right;
}
.featured-link-text {
    text-align: center;
    display: block;
    width: 100%;
    padding-top: 1.5rem;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

/*********************/
/* News Slider start */
/*********************/
.news-slide-wrapper {
    width:100%;
    height:60px;
    /* margin-top:-15px; */
}
.news-title {
    font-size:1.6rem;
    font-color:inherit;
    font-weight:normal;
    text-align:center;
    display: inline;
    float: left;
    position: relative;
    widows: 80%;
}
.news-slide {
    position: relative;
    width:80%;
    height:30px;
    margin:auto;
    overflow: hidden;
    display: inline;
    float: left;
}
.news-slide .news-item {
	position: absolute;
	width: 100%;
    bottom:0;
	text-align: center;
	transform:translateX(100%);
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);
}

/* Define each panel, panel animation, and timing */
.news-slide .news-item:nth-child(1) {
	animation: panel-one 20s ease infinite;
    -moz-animation: panel-one 20s ease infinite;
	-webkit-animation: panel-one 20s ease infinite;
}
.news-slide .news-item:nth-child(2) {
	animation: panel-two 20s ease infinite;
    -moz-animation: panel-two 20s ease infinite;
	-webkit-animation: panel-two 20s ease infinite;
}
.news-slide .news-item:nth-child(3) {
	animation: panel-three 20s ease infinite;
    -moz-animation: panel-three 20s ease infinite;
	-webkit-animation: panel-three 20s ease infinite;
}

/* Pause entire animation on hover over wrapper div */
.news-slide-wrapper:hover .news-item:nth-child(-n+3) {
    animation-play-state: paused;
    -moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
}

/* Define keyframes for mozilla compatibility */
@-moz-keyframes panel-one {
	0% {
		-moz-transform:translateX(100%);
	}
  1.666666666667% {
    -moz-transform:translateX(0);
  }
	31.666666666666667% {
		-moz-transform:translateX(0);
	}
	35% {
		-moz-transform:translateX(-100%);
	}
	100%{
		-moz-transform:translateX(-100%);
	}
}
@-moz-keyframes panel-two {
	0% {
		-moz-transform:translateX(100%);
	}
	31.666666666666667% {
		-moz-transform:translateX(100%);
	}
	35% {
		-moz-transform:translateX(0);		
	}
	65% {
		-moz-transform:translateX(0);		
	}
	68.333333333333333%{
		-moz-transform:translateX(-100%);
	}
  100%{
    -moz-transform:translateX(-100%);
  }
}
@-moz-keyframes panel-three {
	0% {
		-moz-transform:translateX(100%);
	}
  65% {
		-moz-transform:translateX(100%);
	}
	68.333333333333333% {
		-moz-transform:translateX(0);		
	}
	98.333333333333333% {
		-moz-transform:translateX(0);		
	}
	100% {
		-moz-transform:translateX(-100%);		
	}
}

/* Define keyframes for all other browsers */
@-webkit-keyframes panel-one {
	0% {
		-webkit-transform:translateX(100%);
	}
  1.666666666667% {
        -webkit-transform:translateX(0);
  }
	31.666666666666667% {
		-webkit-transform:translateX(0);
	}
	35% {
		-webkit-transform:translateX(-100%);
	}
	100%{
		-webkit-transform:translateX(-100%);
	}
}
@-webkit-keyframes panel-two {
	0% {
		-webkit-transform:translateX(100%);
	}
	31.666666666666667% {
		-webkit-transform:translateX(100%);
	}
	35% {
		-webkit-transform:translateX(0);		
	}
	65% {
		-webkit-transform:translateX(0);		
	}
	68.333333333333333%{
		-webkit-transform:translateX(-100%);
	}
  100%{
    -webkit-transform:translateX(-100%);
  }
}
@-webkit-keyframes panel-three {
	0% {
		-webkit-transform:translateX(100%);
	}
  65% {
		-webkit-transform:translateX(100%);
	}
	68.333333333333333% {
		-webkit-transform:translateX(0);		
	}
	98.333333333333333% {
		-webkit-transform:translateX(0);		
	}
	100% {
		-webkit-transform:translateX(-100%);		
	}
}

@media (max-width: 767px) {
    .sapling-load {
        max-height: 40px !important;
    }
    .news-slide {
        height: 40px;
        line-height: 40px;
        white-space: nowrap;
    }
    .news-item {
        padding: 0 15px 0 15px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
/*********************/
/* News Slider end   */
/*********************/

#myBtn:hover {
  background-color: #555;
}
@media (max-width: 767px) {
    .tagline-new {
        width: 100% !important;
        text-align: center !important;
        margin: 0 auto;
    }
    section.pools .col-lg-8 {
        height: 135px!important;
    }
    section.pools .pr-2 {
        margin-top: -20px!important;
    }
}