.mb-5, .my-5 {
    margin-bottom: 1.5rem!important;
}
.features-icons {
    margin-bottom: 0!important;
}
.testimonials, .call-to-action, .showcase, .features-icons {
    padding-top: 2rem!important;
    padding-bottom: 3rem!important;
}
ul.link-items {
    font-size: 1.25rem;
    font-weight: 300;
    padding: 0;
}
.link-items li {
    margin: .5rem 0 0 0;
    list-style-type: none;
}